@using SampleApplication.Models;
@model UserData
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>@ViewBag.message</h2>
@using (Html.BeginForm("Index","Login",FormMethod.Post))
{
   
    @Html.Label("username");
    @Html.TextBoxFor(m => m.username);
<br />
    @Html.Label("password");
    @Html.TextBoxFor(m => m.password);
    <input type="submit" value="Login"/>
}

